# Generic
pure-python-adb==0.3.0.dev0  # adb client
asyncio==3.4.3               # asynchronous functions

# Screenshot-based
opencv-python==4.12.0.88
scikit-image==0.25.2

# Specific devices' APIs
python-kasa==0.10.2   # TP-Link Kasa plug (HS110)
tapo==0.8.3           # Tapo plug (P110) & light (L530E)
pytapo==3.3.49        # Tapo camera (C200)
aiohue==4.7.4         # Philips Hue bridge
python-miio==0.5.12   # Xiaomi Mi Home camera (chuangmi.camera.ipc019)
pysmartthings==3.2.8  # SmartThings API (cloud)
